components/itests/src/test/resources/xsd/declarative-validate/orders-base.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="urn:validate-test:reconsume-stream-xml-base:1.0"
        xmlns:base="urn:validate-test:reconsume-stream-xml-base:1.0">

        <element name="order.base" type="base:orderBaseType" abstract="true"/>
        <complexType name="orderBaseType" abstract="true"/>

        <element name="orderAck.base" type="base:orderAckBaseType" abstract="true"/>
        <complexType name="orderAckBaseType" abstract="true"/>
</schema>
