soap/src/test/resources/BindingStyleTest.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<definitions 
    targetNamespace="urn:switchyard-component-soap:test-ws:1.0" 
    xmlns="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:tns="urn:switchyard-component-soap:test-ws:1.0"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">

  <types>
    <xsd:schema 
        targetNamespace="urn:switchyard-component-soap:test-ws:1.0" 
        xmlns:tns="urn:switchyard-component-soap:test-ws:1.0" 
        xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:element name="order" type="tns:order"/>
        <xs:complexType name="order">
            <xs:sequence>
                <xs:element name="orderId" type="xs:string"/>
                <xs:element name="itemId" type="xs:string"/>
                <xs:element name="quantity" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
        <xs:element name="orderAck" type="tns:orderAck"/>
        <xs:complexType name="orderAck">
            <xs:sequence>
                <xs:element name="orderId" type="xs:string"/>
                <xs:element name="accepted" type="xs:boolean"/>
                <xs:element name="status" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xsd:schema>
  </types>

  <message name="submitOrder">
    <part name="param" element="tns:order"/>
  </message>
  <message name="submitOrderResponse">
    <part name="return" element="tns:orderAck"/>
  </message>

  <portType name="OrderService">
    <operation name="submitOrder">
      <input message="tns:submitOrder"/>
      <output message="tns:submitOrderResponse"/>
    </operation>
  </portType>

  <binding name="OperationRpcBinding" type="tns:OrderService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="submitOrder">
      <soap:operation soapAction="urn:switchyard-component-soap:test-ws:1.0" style="rpc"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>

  <binding name="RpcBinding" type="tns:OrderService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <operation name="submitOrder">
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>

  <binding name="DocumentRpcMixedOperationsBinding" type="tns:OrderService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="submitOrder">
      <soap:operation soapAction="urn:switchyard-component-soap:test-ws:1.0" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="submitOrderX">
      <soap:operation soapAction="urn:switchyard-component-soap:test-ws:1.0" style="rpc"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>

  <binding name="RpcDocumentMixedOperationsBinding" type="tns:OrderService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <operation name="submitOrder">
      <soap:operation soapAction="urn:switchyard-component-soap:test-ws:1.0" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="submitOrderX">
      <soap:operation soapAction="urn:switchyard-component-soap:test-ws:1.0" style="rpc"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>

  <binding name="RpcDocument2MixedOperationsBinding" type="tns:OrderService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="submitOrder">
      <soap:operation soapAction="urn:switchyard-component-soap:test-ws:1.0" style="rpc"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="submitOrderX">
      <soap:operation soapAction="urn:switchyard-component-soap:test-ws:1.0" style="document" />
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>

  <binding name="DocumentBinding" type="tns:OrderService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="submitOrder">
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>

  <service name="OperationRpcBindingService">
    <port name="OperationRpcBinding" binding="tns:OperationRpcBinding">
      <soap:address location="http://localhost:18001/OrderService"/>
    </port>
  </service>
  <service name="RpcBindingService">
    <port name="RpcBinding" binding="tns:RpcBinding">
      <soap:address location="http://localhost:18001/OrderService"/>
    </port>
  </service>
  <service name="DocumentBindingService">
    <port name="DocumentBinding" binding="tns:DocumentBinding">
      <soap:address location="http://localhost:18001/OrderService"/>
    </port>
  </service>
  <service name="DocumentRpcMixedOperationsService">
    <port name="DocumentRpcMixedOperationsBinding" binding="tns:DocumentRpcMixedOperationsBinding">
      <soap:address location="http://localhost:18001/OrderService"/>
    </port>
  </service>
  <service name="RpcDocumentMixedOperationsService">
    <port name="RpcDocumentMixedOperationsBinding" binding="tns:RpcDocumentMixedOperationsBinding">
      <soap:address location="http://localhost:18001/OrderService"/>
    </port>
  </service>
  <service name="RpcDocument2MixedOperationsService">
    <port name="RpcDocument2MixedOperationsBinding" binding="tns:RpcDocument2MixedOperationsBinding">
      <soap:address location="http://localhost:18001/OrderService"/>
    </port>
  </service>
</definitions>
