soap/src/test/resources/HelloWebService_schema2.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://test.ws/" xmlns:tns="http://test.ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="sayHelloFrench" type="tns:sayHelloFrench"/>

  <xs:element name="sayHelloResponseFrench" type="tns:sayHelloResponseFrench"/>

  <xs:complexType name="sayHelloFrench">
    <xs:sequence>
      <xs:element name="arg0" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="sayHelloResponseFrench">
    <xs:sequence>
      <xs:element name="return" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

