soap/src/test/resources/HelloWebService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6. -->
<definitions targetNamespace="http://test.ws/" name="HelloWebService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://test.ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema targetNamespace="http://test.ws/" xmlns:tns="http://test.ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:element name="helloWS" type="tns:helloWS"/>

        <xs:element name="sayHello" type="tns:sayHello"/>

        <xs:element name="sayHelloResponse" type="tns:sayHelloResponse"/>

        <xs:complexType name="helloWS">
          <xs:sequence>
            <xs:element name="arg0" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>

        <xs:complexType name="sayHello">
          <xs:sequence>
            <xs:element name="arg0" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>

        <xs:complexType name="sayHelloResponse">
          <xs:sequence>
            <xs:element name="return" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
    </xsd:schema>
  </types>
  <message name="sayHello">
    <part name="parameters" element="tns:sayHello"/>
  </message>
  <message name="sayHelloResponse">
    <part name="parameters" element="tns:sayHelloResponse"/>
  </message>
  <message name="helloWS">
    <part name="parameters" element="tns:helloWS"/>
  </message>
  <portType name="HelloWebService">
    <operation name="sayHello">
      <input message="tns:sayHello"/>
      <output message="tns:sayHelloResponse"/>
    </operation>
    <operation name="helloWS">
      <input message="tns:helloWS"/>
    </operation>
  </portType>
  <binding name="HelloWebServicePortBinding" type="tns:HelloWebService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="sayHello">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="helloWS">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
    </operation>
  </binding>
  <service name="HelloWebService">
    <port name="HelloWebServicePort" binding="tns:HelloWebServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

