soap/src/test/resources/MultiplePortService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6. -->
<definitions targetNamespace="http://test.ws/" name="HelloWebServiceService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://test.ws/" xmlns:othr="http://test.ws.other/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://test.ws/" schemaLocation="HelloWebService_schema1.xsd"/>
      <xsd:import namespace="http://test.ws/" schemaLocation="HelloWebService_schema2.xsd"/>
      <xsd:import namespace="http://test.ws/" schemaLocation="GoodbyeWebService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="sayHello">
    <part name="parameters" element="tns:sayHello"/>
  </message>
  <message name="sayHelloResponse">
    <part name="parameters" element="tns:sayHelloResponse"/>
  </message>
  <message name="sayHelloFrench">
    <part name="parameters" element="tns:sayHelloFrench"/>
  </message>
  <message name="sayHelloResponseFrench">
    <part name="parameters" element="tns:sayHelloResponseFrench"/>
  </message>
  <portType name="HelloWebService">
    <operation name="sayHello">
      <input message="tns:sayHello"/>
      <output message="tns:sayHelloResponse"/>
    </operation>
  </portType>
  <portType name="HelloWebServiceFrench">
    <operation name="sayHelloFrench">
      <input message="tns:sayHelloFrench"/>
      <output message="tns:sayHelloResponseFrench"/>
    </operation>
  </portType>
  <binding name="HelloWebServicePortBinding" type="tns:HelloWebService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="sayHello">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <binding name="HelloWebServiceFrenchPortBinding" type="tns:HelloWebServiceFrench">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="sayHelloFrench">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="HelloWebService">
    <port name="HelloWebServicePort" binding="tns:HelloWebServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
    <port name="HelloWebServicePortFrench" binding="tns:HelloWebServiceFrenchPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
  
  <!-- Goodbye Service -->
  <message name="sayGoodbye">
    <part name="parameters" element="tns:sayGoodbye"/>
  </message>
  <message name="sayGoodbyeResponse">
    <part name="parameters" element="tns:sayGoodbyeResponse"/>
  </message>
  <portType name="GoodbyeWebService">
    <operation name="sayGoodbye">
      <input message="tns:sayGoodbye"/>
      <output message="tns:sayGoodbyeResponse"/>
    </operation>
  </portType>
  <binding name="GoodbyeWebServicePortBinding" type="tns:GoodbyeWebService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="sayGoodbye">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="GoodbyeWebService">
    <port name="GoodbyeWebServicePort" binding="tns:GoodbyeWebServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
  <!-- wsdl4j does not seem to list these imported services in its definition, although it is parsed -->
  <import namespace="http://test.ws.other/" location="AnotherGoodbyeService.wsdl"/>
</definitions>

