config/src/main/resources/org/switchyard/config/model/switchyard/v1/switchyard-v1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
JBoss, Home of Professional Open Source
Copyright 2011 Red Hat Inc. and/or its affiliates and other contributors
as indicated by the @authors tag. All rights reserved.
See the copyright.txt in the distribution for a
full listing of individual contributors.

This copyrighted material is made available to anyone wishing to use,
modify, copy, or redistribute it subject to the terms and conditions
of the GNU Lesser General Public License, v. 2.1.
This program is distributed in the hope that it will be useful, but WITHOUT A
WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
PARTICULAR PURPOSE.  See the GNU Lesser General Public License for more details.
You should have received a copy of the GNU Lesser General Public License,
v.2.1 along with this distribution; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
MA  02110-1301, USA.
-->
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="urn:switchyard-config:switchyard:1.0"
        xmlns:swyd="urn:switchyard-config:switchyard:1.0"
        xmlns:sca="http://docs.oasis-open.org/ns/opencsa/sca/200912"
        elementFormDefault="qualified">

    <import namespace="http://docs.oasis-open.org/ns/opencsa/sca/200912"/>

    <element name="switchyard" type="swyd:SwitchYardType"/>
    <complexType name="SwitchYardType">
        <sequence>
           <element ref="sca:composite" minOccurs="0" maxOccurs="1"/>
           <element ref="swyd:transforms" minOccurs="0" maxOccurs="1"/>
           <element ref="swyd:validates" minOccurs="0" maxOccurs="1"/>
           <element ref="swyd:domain" minOccurs="0" maxOccurs="1"/>
           <element ref="swyd:artifacts" minOccurs="0" maxOccurs="1"/>
        </sequence>
        <attribute name="name" type="string" use="optional"/>
        <attribute name="targetNamespace" type="string" use="optional"/>
    </complexType>

    <element name="binding.switchyard" type="swyd:SwitchYardBindingType" substitutionGroup="sca:binding" abstract="true"/>
    <complexType name="SwitchYardBindingType" abstract="true">
        <complexContent>
            <extension base="sca:Binding"/>
        </complexContent>
    </complexType>

    <complexType name="ContextMapperType">
        <attribute name="class" type="string" use="optional"/>
        <attribute name="includes" type="string" use="optional"/>
        <attribute name="excludes" type="string" use="optional"/>
        <attribute name="includeNamespaces" type="string" use="optional"/>
        <attribute name="excludeNamespaces" type="string" use="optional"/>
    </complexType>

    <complexType name="MessageComposerType">
        <attribute name="class" type="string" use="optional"/>
    </complexType>

    <element name="operationSelector.switchyard" type="swyd:SwitchYardOperationSelectorType" substitutionGroup="sca:operationSelector" abstract="true"/>
    <complexType name="SwitchYardOperationSelectorType" abstract="true">
        <complexContent>
            <extension base="sca:OperationSelectorType"/>
        </complexContent>
    </complexType>
    
    <element name="operationSelector" type="swyd:StaticOperationSelectorType" substitutionGroup="swyd:operationSelector.switchyard"/>
    <complexType name="StaticOperationSelectorType">
        <annotation>
            <documentation xml:lang="en">
                Static Operation Selector Configuration.
            </documentation>
        </annotation>
        <complexContent>
            <extension base="swyd:SwitchYardOperationSelectorType">
                <attribute name="operationName" type="string" use="required">
                    <annotation>
                        <documentation xml:lang="en">
                            Operation name.
                        </documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>

    <element name="operationSelector.xpath" type="swyd:XPathOperationSelectorType" substitutionGroup="swyd:operationSelector.switchyard"/>
    <complexType name="XPathOperationSelectorType">
        <annotation>
            <documentation xml:lang="en">
                XPath Operation Selector Configuration.
            </documentation>
        </annotation>
        <complexContent>
            <extension base="swyd:SwitchYardOperationSelectorType">
                <attribute name="expression" type="string" use="required">
                    <annotation>
                        <documentation xml:lang="en">
                            XPath expression.
                        </documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>

    <element name="operationSelector.regex" type="swyd:RegexOperationSelectorType" substitutionGroup="swyd:operationSelector.switchyard"/>
    <complexType name="RegexOperationSelectorType">
        <annotation>
            <documentation xml:lang="en">
                XPath Operation Selector Configuration.
            </documentation>
        </annotation>
        <complexContent>
            <extension base="swyd:SwitchYardOperationSelectorType">
                <attribute name="expression" type="string" use="required">
                    <annotation>
                        <documentation xml:lang="en">
                            Regex expression.
                        </documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>

    <element name="operationSelector.java" type="swyd:JavaOperationSelectorType" substitutionGroup="swyd:operationSelector.switchyard"/>
    <complexType name="JavaOperationSelectorType">
        <annotation>
            <documentation xml:lang="en">
                Java Operation Selector Configuration.
            </documentation>
        </annotation>
        <complexContent>
            <extension base="swyd:SwitchYardOperationSelectorType">
                <attribute name="class" type="string" use="required">
                    <annotation>
                        <documentation xml:lang="en">
                            operation selector implementation class name.
                        </documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>

    <element name="transforms" type="swyd:TransformsType"/>
    <complexType name="TransformsType">
        <sequence>
            <element ref="swyd:transform" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>

    <element name="transform" type="swyd:TransformType" abstract="true"/>
    <complexType name="TransformType" abstract="true">
        <attribute name="from" type="string" use="required"/>
        <attribute name="to" type="string" use="required"/>
    </complexType>

    <element name="validates" type="swyd:ValidatesType"/>
    <complexType name="ValidatesType">
        <sequence>
            <element ref="swyd:validate" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>

    <element name="validate" type="swyd:ValidateType" abstract="true"/>
    <complexType name="ValidateType" abstract="true">
        <attribute name="name" type="string" use="required"/>
    </complexType>

    <element name="domain" type="swyd:DomainType"/>
    <complexType name="DomainType">
        <sequence>
            <element ref="swyd:transforms" minOccurs="0" maxOccurs="1"/>
            <element ref="swyd:validates" minOccurs="0" maxOccurs="1"/>
            <element ref="swyd:properties" minOccurs="0" maxOccurs="1"/>
            <element ref="swyd:handlers" minOccurs="0" maxOccurs="1"/>
            <element ref="swyd:security" minOccurs="0" maxOccurs="1"/>
        </sequence>
        <attribute name="name" type="string" use="optional"/>
    </complexType>

    <element name="properties" type="swyd:PropertiesType"/>
    <complexType name="PropertiesType">
        <sequence>
            <element ref="swyd:property" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>

    <element name="property" type="swyd:PropertyType"/>
    <complexType name="PropertyType">
        <attribute name="name" type="string" use="required"/>
        <attribute name="value" type="string" use="required"/>
    </complexType>

    <element name="resource" type="swyd:ResourceType"/>
    <complexType name="ResourceType">
        <attribute name="location" type="string" use="required"/>
        <attribute name="type" type="NCName" use="required"/>
    </complexType>

    <element name="handlers" type="swyd:HandlersType"/>
    <complexType name="HandlersType">
        <sequence>
            <element ref="swyd:handler" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>

    <element name="handler" type="swyd:HandlerType"/>
    <complexType name="HandlerType">
        <attribute name="name" type="string" use="optional"/>
        <attribute name="class" type="string" use="required"/>
    </complexType>

    <element name="artifacts" type="swyd:ArtifactsType"/>
    <complexType name="ArtifactsType">
        <sequence>
            <element ref="swyd:artifact" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>

    <element name="artifact" type="swyd:ArtifactType"/>
    <complexType name="ArtifactType">
        <attribute name="name" type="string" use="required"/>
        <attribute name="url" type="string" use="required"/>
    </complexType>

    <element name="security" type="swyd:SecurityType"/>
    <complexType name="SecurityType">
        <sequence>
            <element ref="swyd:properties" minOccurs="0" maxOccurs="1"/>
        </sequence>
        <attribute name="callbackHandler" type="string" use="optional"/>
        <attribute name="moduleName" type="string" use="optional"/>
        <attribute name="rolesAllowed" type="string" use="optional"/>
        <attribute name="runAs" type="string" use="optional"/>
    </complexType>

    <element name="interface.esb" type="swyd:EsbInterface" substitutionGroup="sca:interface"/>
    <complexType name="EsbInterface">
        <complexContent>
            <extension base="sca:Interface">
                <attribute name="inputType" type="string" use="optional"/>
                <attribute name="outputType" type="string" use="optional"/>
                <attribute name="faultType" type="string" use="optional"/>
            </extension>
        </complexContent>
    </complexType>

</schema>
