quickstarts/bpm-service/src/main/resources/wsdl/ProcessOrder.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:tns="urn:switchyard-quickstart:bpm-service:1.0" 
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    name="ProcessOrder" 
    targetNamespace="urn:switchyard-quickstart:bpm-service:1.0">
  <wsdl:types>
    <xsd:schema targetNamespace="urn:switchyard-quickstart:bpm-service:1.0">
      <xsd:element name="submitOrder">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="orderId" type="xsd:string" />
          	<xsd:element name="itemId" type="xsd:string"></xsd:element>
          	<xsd:element name="quantity" type="xsd:int"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="submitOrderResponse">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="orderId" type="xsd:string" />
          	<xsd:element name="accepted" type="xsd:boolean"></xsd:element>
          	<xsd:element name="status" type="xsd:string"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="submitOrderRequest">
    <wsdl:part element="tns:submitOrder" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="submitOrderResponse">
    <wsdl:part element="tns:submitOrderResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="ProcessOrder">
    <wsdl:operation name="submitOrder">
      <wsdl:input message="tns:submitOrderRequest"/>
      <wsdl:output message="tns:submitOrderResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ProcessOrderSOAP" type="tns:ProcessOrder">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="submitOrder">
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProcessOrder">
    <wsdl:port binding="tns:ProcessOrderSOAP" name="ProcessOrderSOAP">
      <soap:address location="http://switchyard.org/demo/openshift"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
