components/bpel/src/test/resources/loan2ServicePT.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://example.com/loan2-approval/loan2Service/"
			xmlns:ens="http://example.com/loan2-approval/xsd/error-messages/"
			xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
			xmlns:tns="http://example.com/loan2-approval/loan2Service/"
			xmlns="http://schemas.xmlsoap.org/wsdl/"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
			
    <types>
    
		<xsd:schema targetNamespace="http://example.com/loan2-approval/xsd/error-messages/">
		  <xsd:element name="integer" type="xsd:integer" />
		</xsd:schema>

        <xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" 
                targetNamespace="http://example.com/loan2-approval/loan2Service/" 
                xmlns="http://www.w3.org/2001/XMLSchema">

	        <element name="request">
	            <complexType>
	                <sequence>
				<element name="firstName" type="xsd:string" />
				<element name="name" type="xsd:string" />
				<element name="amount" type="xsd:integer" />
	                 </sequence>
	            </complexType>
	        </element>
	         
	        <element name="requestResponse">
	            <complexType>
	                <sequence>
	                    <element name="accept" type="string"/>
	                 </sequence>
	            </complexType>
	        </element>
	         
         </xsd:schema>
	</types>
	
	<message name="requestMessage">
		<part name="parameter" element="tns:request" />
	</message>

	<message name="requestResponseMessage">
		<part name="parameter" element="tns:requestResponse" />
	</message>
	
	<message name="errorMessage">
		<part name="errorCode" element="ens:integer" />
	</message>
	
	<portType name="loan2ServicePT">
		<operation name="request">
			<input message="tns:requestMessage" />
			<output message="tns:requestResponseMessage" />
			<fault name="unableToHandleRequest"
					message="tns:errorMessage" />
		</operation>
	</portType>
	
	<plnk:partnerLinkType name="loan2PartnerLT">
		<plnk:role name="loan2Service" portType="tns:loan2ServicePT" />
	</plnk:partnerLinkType>
	
    <binding name="loan2Service_Binding" type="tns:loan2ServicePT">
    	<soap:binding style="document"
    		transport="http://schemas.xmlsoap.org/soap/http" />
    	<operation name="request">
    		<soap:operation
    			soapAction="http://example.com/loan2-approval/loan2Service/request" />
    		<input>
    			<soap:body use="literal" />
    		</input>
    		<output>
    			<soap:body use="literal" />
    		</output>
    		<fault name="unableToHandleRequest">
    			<soap:fault use="literal" name="unableToHandleRequest" />
    		</fault>
    	</operation>
    </binding>
    
    <service name="loan2Service">
    	<port name="loan2Service_Port" binding="tns:loan2Service_Binding">
    		<soap:address location="http://localhost:8080/Quickstart_bpel_loan2_approvalWS" />
    	</port>
    </service>
    
</definitions>
