rules/src/main/resources/org/switchyard/component/rules/config/model/v1/rules-v1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
 - Copyright 2013 Red Hat Inc. and/or its affiliates and other contributors.
 - 
 - Licensed under the Apache License, Version 2.0 (the "License");
 - you may not use this file except in compliance with the License.
 - You may obtain a copy of the License at
 - http://www.apache.org/licenses/LICENSE-2.0
 - Unless required by applicable law or agreed to in writing, software
 - distributed under the License is distributed on an "AS IS" BASIS,
 - WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 - See the License for the specific language governing permissions and
 - limitations under the License.
 -->
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:sca="http://docs.oasis-open.org/ns/opencsa/sca/200912"
        xmlns:swyd="urn:switchyard-config:switchyard:1.0"
        xmlns:rules="urn:switchyard-component-rules:config:1.0"
        targetNamespace="urn:switchyard-component-rules:config:1.0"
        elementFormDefault="qualified">

    <import namespace="urn:switchyard-config:switchyard:1.0"/>
    <import namespace="http://docs.oasis-open.org/ns/opencsa/sca/200912"/>

    <element name="implementation.rules" type="rules:RulesImplementationType" substitutionGroup="sca:implementation"/>
    <complexType name="RulesImplementationType">
        <complexContent>
            <extension base="sca:Implementation">
                <sequence>
                    <element ref="rules:channels" minOccurs="0" maxOccurs="1"/>
                    <element ref="rules:listeners" minOccurs="0" maxOccurs="1"/>
                    <element ref="rules:loggers" minOccurs="0" maxOccurs="1"/>
                    <element ref="rules:manifest" minOccurs="0" maxOccurs="1"/>
                    <element ref="rules:operations" minOccurs="0" maxOccurs="1"/>
                    <element ref="rules:properties" minOccurs="0" maxOccurs="1"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <element name="channels" type="rules:ChannelsType"/>
    <complexType name="ChannelsType">
        <complexContent>
            <extension base="sca:CommonExtensionBase">
                <sequence>
                    <element ref="rules:channel" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <element name="channel" type="rules:ChannelType"/>
    <complexType name="ChannelType">
        <complexContent>
            <extension base="sca:CommonExtensionBase">
                <attribute name="class" type="string" use="required"/>
                <attribute name="name" type="string" use="optional"/>
                <attribute name="operation" type="string" use="optional"/>
                <attribute name="reference" type="string" use="optional"/>
            </extension>
        </complexContent>
    </complexType>

    <element name="listeners" type="rules:ListenersType"/>
    <complexType name="ListenersType">
        <complexContent>
            <extension base="sca:CommonExtensionBase">
                <sequence>
                    <element ref="rules:listener" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <element name="listener" type="rules:ListenerType"/>
    <complexType name="ListenerType">
        <complexContent>
            <extension base="sca:CommonExtensionBase">
                <attribute name="class" type="string" use="required"/>
            </extension>
        </complexContent>
    </complexType>

    <element name="loggers" type="rules:LoggersType"/>
    <complexType name="LoggersType">
        <complexContent>
            <extension base="sca:CommonExtensionBase">
                <sequence>
                    <element ref="rules:logger" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <element name="logger" type="rules:LoggerType"/>
    <complexType name="LoggerType">
        <complexContent>
            <extension base="sca:CommonExtensionBase">
                <attribute name="interval" type="swyd:propInteger" use="optional"/>
                <attribute name="log" type="string" use="optional"/>
                <attribute name="type" type="rules:loggerType" use="optional"/>
            </extension>
        </complexContent>
    </complexType>

    <simpleType name="loggerType">
        <restriction base="string">
            <enumeration value="CONSOLE"/>
            <enumeration value="FILE"/>
            <enumeration value="THREADED_FILE"/>
        </restriction>
    </simpleType>

    <element name="manifest" type="rules:ManifestType"/>
        <complexType name="ManifestType">
        <complexContent>
            <extension base="sca:CommonExtensionBase">
                <sequence>
                    <choice>
                        <element ref="rules:container" minOccurs="0" maxOccurs="1"/>
                        <element ref="rules:resources" minOccurs="0" maxOccurs="1"/>
                    </choice>
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <element name="container" type="rules:ContainerType"/>
        <complexType name="ContainerType">
        <complexContent>
            <extension base="sca:CommonExtensionBase">
                <attribute name="baseName" type="string" use="optional"/>
                <attribute name="releaseId" type="string" use="optional"/>
                <attribute name="scan" type="boolean" use="optional"/>
                <attribute name="scanInterval" type="swyd:propLong" use="optional"/>
                <attribute name="sessionName" type="string" use="optional"/>
            </extension>
        </complexContent>
    </complexType>

    <element name="resources" type="rules:ResourcesType"/>
    <complexType name="ResourcesType">
        <complexContent>
            <extension base="sca:CommonExtensionBase">
                <sequence>
                    <element ref="rules:resource" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <element name="resource" type="rules:ResourceType"/>
    <complexType name="ResourceType">
        <complexContent>
            <extension base="sca:CommonExtensionBase">
                <sequence>
                    <element ref="rules:resourceDetail" minOccurs="0" maxOccurs="1"/>
                </sequence>
                <attribute name="location" type="string" use="required"/>
                <attribute name="type" type="string" use="required"/>
            </extension>
        </complexContent>
    </complexType>

    <element name="resourceDetail" type="rules:ResourceDetailType"/>
    <complexType name="ResourceDetailType">
        <complexContent>
            <extension base="sca:CommonExtensionBase">
                <attribute name="inputType" type="string" use="optional"/>
                <attribute name="worksheetName" type="string" use="optional"/>
                <!--  SWITCHYARD-1662
                <attribute name="usingExternalTypes" type="boolean" use="optional" default="false"/>
                -->
            </extension>
        </complexContent>
    </complexType>

    <element name="operations" type="rules:OperationsType"/>
    <complexType name="OperationsType">
        <complexContent>
            <extension base="sca:CommonExtensionBase">
                <sequence>
                    <element ref="rules:operation" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <element name="operation" type="rules:OperationType"/>
    <complexType name="OperationType">
        <complexContent>
            <extension base="sca:CommonExtensionBase">
                <sequence>
                    <element ref="rules:globals" minOccurs="0" maxOccurs="1"/>
                    <element ref="rules:inputs" minOccurs="0" maxOccurs="1"/>
                    <element ref="rules:outputs" minOccurs="0" maxOccurs="1"/>
                    <element ref="rules:faults" minOccurs="0" maxOccurs="1"/>
                </sequence>
                <attribute name="eventId" type="string" use="optional"/>
                <attribute name="name" type="string" use="optional"/>
                <attribute name="type" type="rules:operationType" use="optional"/>
            </extension>
        </complexContent>
    </complexType>

    <element name="globals" type="rules:GlobalsType"/>
    <complexType name="GlobalsType">
        <complexContent>
            <extension base="sca:CommonExtensionBase">
                <sequence>
                    <element ref="rules:global" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <element name="inputs" type="rules:InputsType"/>
    <complexType name="InputsType">
        <complexContent>
            <extension base="sca:CommonExtensionBase">
                <sequence>
                    <element ref="rules:input" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <element name="outputs" type="rules:OutputsType"/>
    <complexType name="OutputsType">
        <complexContent>
            <extension base="sca:CommonExtensionBase">
                <sequence>
                    <element ref="rules:output" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <element name="faults" type="rules:FaultsType"/>
    <complexType name="FaultsType">
        <complexContent>
            <extension base="sca:CommonExtensionBase">
                <sequence>
                    <element ref="rules:fault" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <element name="global" type="rules:MappingType"/>
    <element name="input" type="rules:MappingType"/>
    <element name="output" type="rules:MappingType"/>
    <element name="fault" type="rules:MappingType"/>
    <complexType name="MappingType">
        <complexContent>
            <extension base="sca:CommonExtensionBase">
                <attribute name="from" type="string" use="optional"/>
                <attribute name="to" type="string" use="optional"/>
            </extension>
        </complexContent>
    </complexType>

    <simpleType name="operationType">
        <restriction base="string">
            <enumeration value="EXECUTE"/>
            <enumeration value="INSERT"/>
            <enumeration value="FIRE_ALL_RULES"/>
            <enumeration value="FIRE_UNTIL_HALT"/>
        </restriction>
    </simpleType>

    <element name="properties" type="rules:PropertiesType"/>
    <complexType name="PropertiesType">
        <complexContent>
            <extension base="sca:CommonExtensionBase">
                <sequence>
                    <element ref="rules:property" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <element name="property" type="rules:PropertyType"/>
    <complexType name="PropertyType">
        <complexContent>
            <extension base="sca:CommonExtensionBase">
                <attribute name="name" type="string" use="required"/>
                <attribute name="value" type="string" use="required"/>
            </extension>
        </complexContent>
    </complexType>

</schema>
