quickstarts/rules-interview-container/src/main/resources/META-INF/Interview.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Interview" targetNamespace="urn:switchyard-quickstart:rules-interview-container:0.1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:switchyard-quickstart:rules-interview-container:0.1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:switchyard-quickstart:rules-interview-container:0.1.0" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="urn:switchyard-quickstart:rules-interview-container:0.1.0">
  <xs:complexType name="applicant">
    <xs:sequence>
      <xs:element name="age" type="xs:int"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="verify" type="verify"/>
  <xs:complexType name="verify">
    <xs:sequence>
      <xs:element minOccurs="0" name="applicant" type="applicant"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="verifyResponse" type="verifyResponse"/>
  <xs:complexType name="verifyResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="verifyResponse">
    <wsdl:part name="parameters" element="tns:verifyResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="verify">
    <wsdl:part name="parameters" element="tns:verify">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="InterviewPortType">
    <wsdl:operation name="verify">
      <wsdl:input name="verify" message="tns:verify">
    </wsdl:input>
      <wsdl:output name="verifyResponse" message="tns:verifyResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="InterviewSoapBinding" type="tns:InterviewPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="verify">
      <soap:operation soapAction="verify" style="document"/>
      <wsdl:input name="verify">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="verifyResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Interview">
    <wsdl:port name="InterviewPort" binding="tns:InterviewSoapBinding">
      <soap:address location="http://localhost:8080/rules-interview-container/Interview"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
