components/soap/src/test/resources/HelloWebServiceAddressing.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6. -->
<definitions targetNamespace="urn:switchyard-component-soap:test-ws:1.0" name="HelloAddressingService"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:tns="urn:switchyard-component-soap:test-ws:1.0"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/"
    xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
    xmlns:wsp="http://www.w3.org/ns/ws-policy"
    xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
    xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">

    <wsp:Policy wsu:Id="HelloSOAPAddressingServicePortBinding_policy">
        <wsp:ExactlyOne>
            <wsp:All>
                <wsam:Addressing wsdl:required="false">
                    <wsp:Policy/>
                </wsam:Addressing>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>

    <wsp:Policy wsu:Id="HelloSOAPAddressingServicePortBinding_policy2">
        <wsam:Addressing required="true">
            <wsp:Policy/>
        </wsam:Addressing>
    </wsp:Policy>

  <types>
    <xsd:schema targetNamespace="urn:switchyard-component-soap:test-ws:1.0" xmlns:tns="urn:switchyard-component-soap:test-ws:1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:element name="sayHello" type="tns:sayHello"/>

        <xs:element name="sayHelloResponse" type="tns:sayHelloResponse"/>

        <xs:element name="UnknownMessage" type="tns:UnknownMessage"/>

        <xs:complexType name="sayHello">
          <xs:sequence>
            <xs:element name="arg0" type="xs:string" minOccurs="0"/>	
          </xs:sequence>
        </xs:complexType>

        <xs:complexType name="sayHelloResponse">
          <xs:sequence>
            <xs:element name="return" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>

        <xs:complexType name="UnknownMessage">
          <xs:sequence>
            <xs:element name="message" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
    </xsd:schema>
  </types>
  <message name="sayHelloWorld">
    <part name="parameters" element="tns:sayHello"/>
  </message>
  <message name="sayHelloWorldResponse">
    <part name="parameters" element="tns:sayHelloResponse"/>
  </message>
  <message name="UnknownMessage">
    <part name="fault" element="tns:UnknownMessage"/>
  </message>
  <portType name="HelloAddressingService">
    <operation name="sayHello">
      <input message="tns:sayHelloWorld"/>
      <output message="tns:sayHelloWorldResponse"/>
    </operation>
  </portType>
  <portType name="HelloAddressingService2">
    <operation name="sayHello">
      <input message="tns:sayHelloWorld" wsaw:Action="http://mysite/input"/>
      <output message="tns:sayHelloWorldResponse" wsaw:Action="http://mysite/output"/>
    </operation>
  </portType>
  <portType name="HelloAddressingService3">
    <operation name="sayHello">
      <input message="tns:sayHelloWorld"/>
      <output message="tns:sayHelloWorldResponse"/>
      <fault message="tns:UnknownMessage" name="UnknownMessage"/>
    </operation>
  </portType>
  <binding name="HelloSOAPAddressingServicePortBinding" type="tns:HelloAddressingService">
    <wsp:PolicyReference URI="#HelloSOAPAddressingServicePortBinding_policy"/>
    <soap:binding transport="http://www.w3.org/2003/05/soap/bindings/HTTP/" style="document"/>
    <operation name="sayHello">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <binding name="HelloSOAPAddressingServicePortBinding2" type="tns:HelloAddressingService2">
    <wsaw:UsingAddressing required="true" />
    <soap:binding transport="http://www.w3.org/2003/05/soap/bindings/HTTP/" style="document"/>
    <operation name="sayHello">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <binding name="HelloSOAPAddressingServicePortBinding3" type="tns:HelloAddressingService3">
    <wsp:PolicyReference URI="#HelloSOAPAddressingServicePortBinding_policy2"/>
    <soap:binding transport="http://www.w3.org/2003/05/soap/bindings/HTTP/" style="document"/>
    <operation name="sayHello">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="HelloAddressingService">
    <port name="HelloSOAPAddressingServicePort" binding="tns:HelloSOAPAddressingServicePortBinding">
      <soap:address location="REPLACE_WITH_ADDRESSING_URL"/>
    </port>
    <port name="HelloSOAPAddressingServicePort2" binding="tns:HelloSOAPAddressingServicePortBinding2">
      <soap:address location="REPLACE_WITH_ADDRESSING_URL2"/>
    </port>
    <port name="HelloSOAPAddressingServicePort3" binding="tns:HelloSOAPAddressingServicePortBinding3">
      <soap:address location="REPLACE_WITH_ADDRESSING_URL3"/>
    </port>
  </service>
</definitions>

